/* RESPONSIVO MOBILE */

@media (max-width:768px){


    /* GERAL */

    .container{

        width:90%;

    }


    section{

        padding:60px 0;

    }


    .section-title{

        font-size:1.8rem;

    }


    .section-subtitle{

        font-size:1rem;

        margin-bottom:35px;

    }



    /* HEADER */

    header{

        position:fixed;

    }


    nav{

        height:80px;

        flex-direction:row;

        justify-content:space-between;

    }


    .logo img{

        width:110px;

    }


    .menu-toggle{

        display:block;

    }


    .menu{

        position:absolute;

        top:80px;

        left:0;

        width:100%;

        background:#ebece5;

        display:none;

        flex-direction:column;

        align-items:center;

        gap:20px;

        padding:25px 0;

        box-shadow:0 10px 20px rgba(0,0,0,.1);

    }


    .menu.active{

        display:flex;

    }


    nav > .btn{

        display:none;

    }



    /* HERO NOVO */

    #home{

        min-height:auto;

        padding-top:130px;

        padding-bottom:60px;

        text-align:center;

    }



    .hero-container{

        flex-direction:column;

        gap:40px;

    }



    .hero-content{

        max-width:100%;

    }



    .hero-content h1{

        font-size:2.2rem;

        line-height:1.3;

    }



    .hero-content p{

        font-size:1rem;

        line-height:1.6;

    }



    .hero-buttons{

        flex-direction:column;

        gap:15px;

    }



    .hero-buttons a{

        width:100%;

    }



    .hero-image img{

        width:100%;

        max-width:350px;

        margin:auto;

        border-radius:25px;

    }




    /* SOBRE */


    .sobre-container{

        flex-direction:column;

        gap:30px;

    }



    .sobre-img{

        width:100%;

    }



    .sobre-img img{

        height:250px;

        object-fit:cover;

        border-radius:20px;

    }



    .sobre-texto .section-title{

        text-align:center;

    }



    .sobre-texto p{

        text-align:center;

    }




    /* BENEFÍCIOS */


    .beneficios-grid{

        grid-template-columns:1fr;

        gap:20px;

    }



    .beneficio-card{

        padding:25px 20px;

    }




    /* HORÁRIOS */


    .horarios-grid{

        grid-template-columns:1fr;

        gap:20px;

    }




    /* GALERIA */


    .galeria-grid{

        grid-template-columns:1fr;

    }



    .galeria-grid img{

        height:260px;

        object-fit:cover;

        border-radius:15px;

    }





    /* AGENDAMENTO */


    .agendamento{

        width:100%;

        padding:25px 20px;

    }



    .agendamento button{

        width:100%;

    }




    /* CONTATO */


    .contato-grid{

        grid-template-columns:1fr;

        gap:20px;

    }


}